<!-- Page Preloder -->
<div id="preloder">
	<div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
	<div class="offcanvas__option">
		<div class="offcanvas__links">
			<a href="#">Registrarse</a>
			<a href="#">Preguntas frecuentes</a>
		</div>
		<div class="offcanvas__top__hover">
			<span>Usd <i class="arrow_carrot-down"></i></span>
			<ul>
				<li>USD</li>
				<li>EUR</li>
				<li>USD</li>
			</ul>
		</div>
	</div>
	<div class="offcanvas__nav__option">
		<a href="#" class="search-switch"><img src="/../img/icon/search.png" alt="" /></a>
		<a href="#"><img src="/../img/icon/heart.png" alt="" /></a>
		<a href="#"><img src="/../img/icon/cart.png" alt="" /> <span>0</span></a>
		<div class="price">$0.00</div>
	</div>
	<div id="mobile-menu-wrap"></div>
	<div class="offcanvas__text">
		<p>Free shipping, 30-day return or refund guarantee.</p>
	</div>
</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<div class="header__logo">
					<a href="/index"><img src="/../img/logo.png" alt="" height="40" /></a>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<nav class="header__menu mobile-menu">
					<ul>
						<li class="active"><a href="/index">Inicio</a></li>
						<li><a href="/shop">Productos</a></li>
						<li><a href="/about">Nosotros</a></li>
						<li><a href="/contact">Contacto</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-lg-3 col-md-3">
				<div class="header__nav__option">
					<a href="#" class="search-switch"><img src="/../img/icon/search.png" alt="" /></a>
					<!--a th:if="${session.userName}" class="icon_exit" href="/usuario/logout">
						<img src="/../img/icon/exit.png" alt="" />
						<div><span th:text="${session.userName}"></span></div>
					</a>
					<a-- th:unless="${session.userName}" href="/usuario/login">
						<img src="/../img/icon/contact.png" alt="" />
					</a-->
					<a href="/../shop/shopping-cart"><img src="/../img/icon/cart.png" alt="" />
						<span th:if="${session.cart_products}" th:text="${session.cart_products}"></span>
					</a>
					<div class="btn-group">
						<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false">
							<i class="fa-regular fa-user"></i>
						</button>
						<div class="dropdown-menu">
							<a> </a>
							<div class="dropdown-divider"></div>
							<a> </a>
							<div class="dropdown-divider" th:if="${session.rol}"></div>
							<a class="dropdown-item" th:if="${session.userName}" href="/usuario/logout">
								<i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión
							</a>
							<a class="dropdown-item" th:unless="${session.userName}" href="/usuario/login">
								<i class="fa-solid fa-arrow-right-to-bracket"></i> Iniciar Sesión
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="canvas__open"><i class="fa fa-bars"></i></div>
	</div>
</header>
<!-- Header Section End -->