<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Compu SAC | Tienda</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="/../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/../css/style.css" type="text/css">
</head>

<body>

    <div th:include="./header.html::header"></div>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Admin</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Inicio</a>
                            <span>Productos</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container" >
        	<div class="row" th:if="!${session.rol}">
        		<div class="col-12 col-lg-12">
        			<h5>No tienes acceso</h5>
        		</div>
        	</div>
            <div class="row" th:if="${session.rol}">
	            <div class="col-lg-12 text-right">
	                  <a th:href="@{'/usuario/save/producto'}" class="btn btn-outline-primary mb-3"><i class="fa-solid fa-circle-plus"></i> Agregar</a>
	            </div>
                <div class="col-lg-12">
                    <table class="table ">
                        <thead class="thead-dark" >
                            <tr class="text-center">
                                <th>Nombre</th>
                                <th>Tag</th>
                                <th>Información del producto</th>
                                <th>Serie</th>
                                <th>Precio</th>
                                <th>Tamaño</th>
                                <th>Color</th>
                                <th>Acciones</th> 
                            </tr>
                        </thead>
                        <tbody  class="text-center">
                            <tr  th:each="productosAdmin : ${productosAdmin}">
                               <td th:text="${productosAdmin.name}"></td>
                               <td th:text="${productosAdmin.tag}"></td>
                               <td th:text="${productosAdmin.product_information}"></td>
                               <td th:text="${productosAdmin.number_serie}"></td>
                               <td th:text="${productosAdmin.price}"></td>
                               <td th:text="${productosAdmin.size}"></td>
                               <td th:text="${productosAdmin.color}"></td>
                                <td>
                                    <a th:href="@{'/usuario/update/producto/'+${productosAdmin.id}}" class="btn btn-primary mb-3"><i class="fa-solid fa-solid fa-pen-to-square"></i> Editar</a>
                                    <a th:href="@{'/usuario/delete/producto/'+${productosAdmin.id}}" title="Eliminar Registro" onclick="return confirm('Esta seguro que quiere eliminar el producto?');" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Eliminar</a>  
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

    <div class="footer" th:include="./footer.html::footer"></div>



    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="/../js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="/../js/bootstrap.min.js"></script>
    <script src="/../js/jquery.nice-select.min.js"></script>
    <script src="/../js/jquery.nicescroll.min.js"></script>
    <script src="/../js/jquery.magnific-popup.min.js"></script>
    <script src="/../js/jquery.countdown.min.js"></script>
    <script src="/../js/jquery.slicknav.js"></script>
    <script src="/../js/mixitup.min.js"></script>
    <script src="/../js/owl.carousel.min.js"></script>
    <script src="/../js/main.js"></script>
</body>

</html>